# Path to the SQLite database file
DATABASE_URL=file:./dev.db

# Random 32 byte string generated with `npx auth secret`
AUTH_SECRET=

# Google OAuth2
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# Base URL for the application (e.g. http://localhost:3000)
NEXT_PUBLIC_BASE_URL=
# Websocket URL for the application (e.g. http://localhost:3001)
NEXT_PUBLIC_WEBSOCKET_URL=
WEBSOCKET_PORT=3001
