# Path to the postgres database (e.g. postgres://<user>:<password>@localhost:5432/tic-tac-toe)
POSTGRES_URL=

# Base URL for the application (e.g. http://tic-tac-toe.localtest.me/)
BASE_URL=http://tic-tac-toe.localtest.me

# Random 32 byte string generated with `npx auth secret`
AUTH_SECRET=
AUTH_TRUST_HOST=true
AUTH_URL=${BASE_URL}

# Google OAuth2 https://console.cloud.google.com/apis/credentials
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
