# Path to the postgres database (e.g. postgres://<user>:<password>@postgres:5432/tic-tac-toe)
POSTGRES_URL=

# Random 32 byte string generated with `npx auth secret --raw`
AUTH_SECRET=

# Google OAuth2 https://console.cloud.google.com/apis/credentials
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

# Base URL for the application (e.g. https://localhost/)
BASE_URL=https://localhost

AUTH_TRUST_HOST=true
AUTH_URL=${BASE_URL}
